{% block footer %}
    <br/>
    </p>
    </td>
    </tr>
    </table>

    <h3 style="color: white">A bientôt sur Cinhetic Project!</h3>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600"
           style="font-family: Helvetica, Arial, sans-serif; line-height: 10px;" class="footer">
        <tr>
            <td align="center"
                style="padding: 5px 0 10px; font-size: 11px; color:#7d7a7a; margin: 0; line-height: 1.2;font-family: Helvetica, Arial, sans-serif;"
                valign="top">
                <p style="font-size: 11px; color:#7d7a7a; margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif;">
                    <singleline label="Title">Cet email a été envoyé depuis Cinhetic Project
                    </singleline>
                </p>
                <p style="font-size: 11px; color:#7d7a7a; margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif;">
                    <singleline label="Title">Cinhetic Project solution d'apprentissage développé par <a>Symfomany</a>
                    </singleline>
                </p>
            </td>
        </tr>
    </table>
    <!-- footer-->
    </td>

    </tr>
    </table>

{% endblock %}