{% block header %}
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%"
       style="padding: 35px 0; background: #4b4b4b url('{{ base_url }}images/email/bg_email.png');">
    <tr>
<td align="center" style="margin: 0; padding: 0; background: url('{{ base_url }}images/email/bg_email.png') ;">
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600"
           style="font-family: Helvetica, Arial, sans-serif; background:#2a2a2a;" class="header">
    <tr>
    <td width="20" style="font-size: 0px;">&nbsp;</td>
    <td width="580" align="left" style="padding: 18px 0 10px;color: #ffffff">
    <h1 style="color: #47c8db !important; font: bold 32px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 40px;">
        <singleline label="Title">{{ sujet }}</singleline>
    </h1>
    <p style="color: #ffffff">



{% endblock %}