{% extends 'CinheticPublicBundle::layout.html.twig' %}


{% block content %}
    <h1><i class="glyphicon glyphicon-pencil"></i> Editer le réalisateur  {{ entity.firstname }} {{ entity.lastname }}</h1>

    {{ form(edit_form) }}

    {{ form(delete_form) }}
{% endblock %}
