{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Création de réalisateur</h1>

    {{ form(form) }}

{% endblock %}
