{% block search %}
    <nav class="navbar navbar-inverse" role="navigation">
        <p></p>
        <form action="{{ path('Cinhetic_public_search') }}"  role="search">
            <div class="form-group has-success has-feedback col-sm-10">
                <input id="search_input" data-url="{{ path('Cinhetic_public_search', {'ajax' : 'true'}) }}" name="search" value="{{ app.request.query.get('search') }}" type="search" class="form-control"  placeholder="Rechercher un film, une catégorie, un cinéma...">
            </div>
            <button id="sendsearch" type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-search"></i></button>
        </form>
    </nav>
{% endblock %}
