{% block login %}
    <div>
        <form id="signin-form_id" class="" action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="_username" value="" id="username_id" type="text" class="form-control input-lg" placeholder=" Email / Login" required="required">
                </div>
            </div>

            <div class="form-group signin-password">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-flash"></i></span>
                    <input name="_password" type="password" id="password_id" class="form-control input-lg" placeholder=" Mot de passe" required="required">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" name="_remember_me" class="px"> <span class="lbl">Remember me</span>
                        </label>
                    </div>
                    <a class="col-md-offset-3" href="/cinhetic/web/creation-de-compte"><i class="glyphicon glyphicon-ok"></i> Inscription</a>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="OQ-nkpcL5V-WB4pDhgZfmHBy4q50morDf2TER0zhbkA">

            <div class="form-actions">
                <input type="submit" value="Sign In" class="btn btn-primary btn-block btn-lg">
            </div>
        </form>

        <div class="signin-with">
            {% for owner in hwi_oauth_resource_owners() %}
                {% if owner == "facebook" %}
                    <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-lg btn-facebook rounded"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
                {% elseif owner == "google" %}
                    <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-lg btn-danger rounded"><i class="fa fa-google-plus"></i></a>
                {% elseif owner == "twitter" %}
                    <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-lg btn-info rounded"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
                {% endif %}
            {% endfor %}
        </div>


    </div>
{% endblock %}