{% block messages %}
 <a href="#messages" class="dropdown-toggle" data-toggle="dropdown">
    <span class="label">10</span>
    <i class="nav-icon fa fa-envelope"></i>
    <span class="small-screen-text">Income messages</span>
</a>

<!-- MESSAGES -->

<!-- Javascript -->
<script>
    init.push(function () {
        $('#main-navbar-messages').slimScroll({ height: 250 });
    });
</script>
<!-- / Javascript -->

<div class="dropdown-menu widget-messages-alt no-padding" style="width: 300px;">
    <div class="messages-list" id="main-navbar-messages">

        <div class="message">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <div class="message-description">
                from <a href="#">Robert Jang</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

        <div class="message">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
            <div class="message-description">
                from <a href="#">Michelle Bortz</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

        <div class="message">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet.</a>
            <div class="message-description">
                from <a href="#">Timothy Owens</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

        <div class="message">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
            <div class="message-description">
                from <a href="#">Denise Steiner</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

        <div class="message">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet.</a>
            <div class="message-description">
                from <a href="#">Robert Jang</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

        <div class="message">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <div class="message-description">
                from <a href="#">Robert Jang</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

        <div class="message">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
            <div class="message-description">
                from <a href="#">Michelle Bortz</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

        <div class="message">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet.</a>
            <div class="message-description">
                from <a href="#">Timothy Owens</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

        <div class="message">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
            <div class="message-description">
                from <a href="#">Denise Steiner</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

        <div class="message">
            <a href="#" class="message-subject">Lorem ipsum dolor sit amet.</a>
            <div class="message-description">
                from <a href="#">Robert Jang</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                2h ago
            </div>
        </div> <!-- / .message -->

    </div> <!-- / .messages-list -->
    <a href="#" class="messages-link">MORE MESSAGES</a>
</div> <!-- / .dropdown-menu -->

{% endblock %}