{% extends 'EzapPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-carousel.min.js"></script>
{% endblock %}

{% block content %}

    {{ render(controller('EzapPublicBundle:Movies:carousselMovies')) }}

    <div class="row marketing">
        <div class="col-lg-6">
            {{ render(controller('EzapPublicBundle:Movies:currentMovies')) }}
        </div>

        <div class="col-lg-6">
            {{ render(controller('EzapPublicBundle:Movies:starsMovies')) }}
        </div>
    </div>

    <div class="page-header">
        <h1><i class="glyphicon glyphicon-home"></i> Tous les films de Cinhetic</h1>
    </div>
            {% include 'EzapPublicBundle:Movies:_list.html.twig' %}

    </div>
{% endblock %}