<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Cinhetic Solution"/>
    <meta name="keywords" content="Cinhetic Solution"/>
    <meta name="author" content="Cinhetic Solution">
    <title>{% block title %}Cinhetic Solution{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="http://www.github.com/favicon.ico" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
