<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    {% block stylesheets %}
        <style type="text/css">
            a:hover {
                text-decoration: none !important;
            }

            .header h1 {
                color: #47c8db !important;
                font: bold 32px Helvetica, Arial, sans-serif;
                margin: 0;
                padding: 0;
                line-height: 40px;
            }

            .header p {
                color: #c6c6c6;
                font: normal 12px Helvetica, Arial, sans-serif;
                margin: 0;
                padding: 0;
                line-height: 18px;
            }

            .content h2 {
                color: #646464 !important;
                font-weight: bold;
                margin: 0;
                padding: 0;
                line-height: 26px;
                font-size: 18px;
                font-family: Helvetica, Arial, sans-serif;
            }

            .content p {
                color: #767676;
                font-weight: normal;
                margin: 0;
                padding: 0;
                line-height: 20px;
                font-size: 12px;
                font-family: Helvetica, Arial, sans-serif;
            }

            .content a {
                color: #0eb6ce;
                text-decoration: none;
            }

            .footer p {
                font-size: 11px;
                color: #7d7a7a;
                margin: 0;
                padding: 0;
                font-family: Helvetica, Arial, sans-serif;
            }

            .footer a {
                color: #0eb6ce;
                text-decoration: none;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('egypt-icon.png') }}" />
</head>
<body style="margin: 0; padding: 0; background: #4b4b4b url('images/bg_email.png');" bgcolor="#4b4b4b">
{% block body %}{% endblock %}
</body>
</html>