a{
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.theme-default #main-navbar{
    position: fixed;
}
.theme-default #main-navbar .dropdown-menu{
    border: 1px solid #eee;
}
.theme-default #main-navbar .navbar-header a.navbar-brand{
    font-size: 18px;
    text-transform: none;
    font-weight: 200;
}
h1{
    text-shadow: 1px 1px white,1px 1px white;
}
.page-header h1{
    font-size: 24px;
    transition: 5s;
}


.theme-default #main-navbar .widget-messages-alt .message-subject:hover{
    color: #1a7ab9;
}
.carousel,.carousel-inner>.item, .carousel-inner>.item>a>img{
    height: 296px;
}
#search_input{
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    border: 1px solid transparent;
    background: #fff;
    background: rgba(0,0,0,.05);
    padding-left: 5px !important;
}
#search_input:focus{
    background-color: white;
    border: 1px solid #eee;

}
#content-wrapper{
    opacity: 0;
    padding-bottom: 30px;
}
img{
     max-width: 100%;
     -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
 }
 .panel-title{
    text-shadow: 1px 1px white,1px 1px white;
 }
 a:focus, a:hover{
    color: #444;
 }
 .btn{
    -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
 }
 img:hover{
     opacity(0.6);
 }
.theme-default .label.label-primary.label-tag{
    margin: 5px;
}
 .overlay{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 200%;
     z-index: 10;
     background-color: rgba(255, 255, 255, 0.5);
     z-index: 9000;
}
 
.overlay img{
     margin-top: 300px;
     margin-left: 700px;
     position:absolute;
 }

.panel .widget-comments .comment, .panel.widget-comments .comment{
    margin: 0px;
}
.table-striped>tbody>tr:nth-child(odd)>td .btn, .table-striped>tbody>tr:nth-child(odd)>th .btn,
.table-striped>tbody>tr:nth-child(even)>td .btn, .table-striped>tbody>tr:nth-child(even)>th .btn
{
    margin-bottom: 10px;
}


form label{
    margin-top: 10px;
}

form .btn.btn-labeled, form button[type="submit"]{
    margin-top:20px;
    margin-bottom:20px;
}

.table tbody>tr>td, .table tbody>tr>th, .table tfoot>tr>td, .table tfoot>tr>th, .table thead>tr>td, .table thead>tr>th{
    min-width: 150px;
}

.theme-default #main-navbar .dropdown-menu>li.active>a{
    background: #f8f8f8;
    border-top: none!important;
    border-bottom: none!important;
}


 @media (min-width: 300px) and (max-width: 768px) {
     h1,h2,h3{
         font-size: 23px;
     }
     table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td{
         font-size: 12px;
     }
     .navbar-default .navbar-nav>li>a{
         font-size: 12px !important;
     }
     .alert a, .alert .alert-link{
         font-size: 13px;
     }
     .btn{
         padding: 8px 12px;
         font-size: 13px;
         line-height: 1;
         margin: 10px;
     }
     .well p{
         font-size: 12px;
     }
     .nav-tabs>li>a, .nav-pills>li>a{
         font-size: 13px;
     }
 
     .navbar-nav>li{
         height: 40px;
     }
     .navbar-nav>li a{
         height: 40px;
     }
     #sendsearch {
         position: relative;
         top: -72px;
         left: 305px;
     }
     #link_logo{
         right: 14px;
        height: 55px;
    } 
 }

