a{
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.theme-default #main-navbar{
    position: fixed;
}
.theme-default #main-navbar .dropdown-menu{
    border: 1px solid #eee;
}
.theme-default #main-navbar .navbar-header a.navbar-brand{
    font-size: 18px;
    text-transform: none;
    font-weight: 200;
}
h1{
    text-shadow: 1px 1px white,1px 1px white;
}
.page-header h1{
    font-size: 24px;
}
.theme-default #main-navbar .widget-messages-alt .message-subject:hover{
    color: #1a7ab9;
}
.carousel,.carousel-inner>.item, .carousel-inner>.item>a>img{
    height: 296px;
}
#search_input{
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    border: 1px solid transparent;
    background: #fff;
    background: rgba(0,0,0,.05);
    padding-left: 5px !important;
}
#search_input:focus{
    background-color: white;
    border: 1px solid #eee;

}