{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Voir la séance</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Date de la séance</th>
                <td>{{ entity.dateSession|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn" href="{{ path('sessions_edit', { 'id': entity.id }) }}">
            Editer la séance
        </a>
        {{ form(delete_form) }}
{% endblock %}
