{% block search %}
    <form action="{{ path('apis_search') }}" method="get"  role="search">
        <div class="form-group has-success has-feedback col-sm-10">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
				<input type="text" placeholder="Rechercher un film avec l'API Allociné" id="search_input_api" class="form-control">
			</div>
        </div>
    </form>
{% endblock %}