{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block content %}

<h1>Filmographie de  {{ entity.name.given|convert_encoding('UTF-8', 'iso-8859-1') }} {{ entity.name.family|convert_encoding('UTF-8', 'iso-8859-1') }}</h1>
<hr />
<br />

<div class="well">
    <div class="row">
        <div class="col-md-8">
            {% include "CinheticPublicBundle:Api:_listbeta.html.twig" %}
        </div>
    </div>
</div>

{% endblock %}