{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block content %}

<h1>Filmographie de  {{ entity.name.given }} {{ entity.name.family }}</h1>
<hr />
<br />

<div class="well">
    <div class="row">
        <div class="col-md-8">
            {% include "CinheticPublicBundle:Api:_listbeta.html.twig" %}
        </div>
    </div>
</div>

{% endblock %}