{% extends 'CinheticPublicBundle::layout_disconnect.html.twig' %}


{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to the Cinhetic</h1>
            <p>A fully-functional Symfony2 application that you can use to handle all cinematographic world!</p>
            <p>Roadmap: handle movies, categories, tags, actors, directors, cinemas, sessions, users, comments...            </p>
            <p>Philosophy: <b>Minimalist features</b>, Maintainable, Pragmatic and Responsive Solution.</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="{{ path('Cinhetic_public_homepage') }}">Get started »</a></p>
        </div>
    </div>


{% endblock %}