{% extends 'CinheticPublicBundle::layout_disconnect.html.twig' %}


{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>Paybox Failed!</h1>
            <p>{{ time }}</p>
        </div>
    </div>


{% endblock %}