{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1> <i class="glyphicon glyphicon-pencil"></i> Editer le Tags {{ entity.word }}</h1>

    {{ form(edit_form) }}

    {{ form(delete_form) }}
{% endblock %}
