{% block infos %}

    <button id="closepanel" type="button" class="close" data-dismiss="alert"><i
                class="glyphicon glyphicon-remove-circle"></i></button>
    <div class="panel panel-primary">
        <div class="panel-heading"><h4><i class="glyphicon glyphicon-stats"></i> Statistique
            </h4>
        </div>
        <div class="panel-body">
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#today" data-toggle="tab">A jour</a></li>
                    <li><a href="#month" data-toggle="tab">Ce mois</a></li>
                    <li><a href="#year" data-toggle="tab">Cette année</a></li>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="today">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Ventes Globales</td>
                                <td>2500.00 €</td>
                            </tr>
                            <tr>
                                <td>Chiffre d'affaires</td>
                                <td>2000.00 €</td>
                            </tr>
                            <tr>
                                <td>CA Hier</td>
                                <td>1700.00 €</td>
                            </tr>
                            <tr>
                                <td>Commandes en attentes</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Commandes en cours</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Commandes annulés</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Panier moyen</td>
                                <td>25.5</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="month">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Ventes Globales</td>
                                <td>2500.00 €</td>
                            </tr>
                            <tr>
                                <td>Chiffre d'affaires hors expédition</td>
                                <td>2000.00 €</td>
                            </tr>
                            <tr>
                                <td>CA Hier</td>
                                <td>1700.00 €</td>
                            </tr>
                            <tr>
                                <td>Commandes en attentes</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Commandes en cours</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Commandes annulés</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Panier moyen</td>
                                <td>25.5</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="year">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Ventes Globales</td>
                                <td>2500.00 €</td>
                            </tr>
                            <tr>
                                <td>Chiffre d'affaires hors expédition</td>
                                <td>2000.00 €</td>
                            </tr>
                            <tr>
                                <td>CA Hier</td>
                                <td>1700.00 €</td>
                            </tr>
                            <tr>
                                <td>Commandes en attentes</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Commandes en cours</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Commandes annulés</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Panier moyen</td>
                                <td>25.5</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button id="closepanel" type="button" class="close" data-dismiss="alert"><i
                class="glyphicon glyphicon-remove-circle"></i></button>
    <div class="panel panel-primary">
        <div class="panel-heading"><h4><i class="glyphicon glyphicon-info-sign"></i> Informations
            </h4>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Clients</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>Categories</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Products</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Produits en ligne</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Produits hors ligne</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Commandes</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Commandes en cours</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Commandes expédiés</td>
                    <td>6</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

