    {% block topmenu %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('ezap_public_homepage') }}" class="navbar-brand">{{ 'layout.title'|trans({}, 'EzapPublicBundle') }}</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>
        <br /> <br /><br /><br />

{% endblock %}

