{% extends 'EzapPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1><i class="glyphicon glyphicon-facetime-video"></i> Recherche des Films [{{ entities|length }}]</h1>
    <hr />

    {% include 'EzapPublicBundle:Movies:_list.html.twig' %}

    {% endblock %}
