html, body{
    min-height: 100%;
    background: url(http://emoticonswallpapers.com/background/skulls/skulls-background-pattern-0418.jpg) repeat;
}

.col-sm-12{
    background: #222;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

p, h1, h2, h3, h4,div, a{
    font-family: 'Sniglet', cursive; !important;
}
a{

    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.alert .table a{
color: #222 !important;
}
.media-body{
color: #202d3b !important;
}
.close{
color: #000000 !important;
}
.well p{
color: white !important;
}
h4, h3{
color: white !important;
}
.dz-success-mark, .dz-error-mark{
    display: none !important;
}
.record_actions, .record_actions li{
    list-style: none;
    padding: 0;
}
form div{
    margin: 10px;
}
label{
    color: #18bc9c;
    margin-right: 10px;
    vertical-align: top;
}
textarea{
    border-radius: 5px;
}
.bootstrap-select{
    background: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"]{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #222;
    color: #111;
}
select.form-control {
    color: #464545 !important;
}
.alert .table a.btn{
    color: white !important;
    text-decoration: none;
}

.dropdown-menu > li > a{
    font-size: 13px;
}
.navbar-default .navbar-nav>li>a{
text-shadow: 1px 1px #1d3349,1px 1px #1d3349;
}
#listreceipts h3 a{
    color: darkkhaki;
    text-decoration: none;
}
#listreceipts h3 a:hover{
    color: #18bc9c;
}
img{
    max-width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
img:hover{
    opacity(0.6);
}
.datepicker td, .datepicker th{
    color: #222 !important;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active{
    color: #fff !important;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9000;
    position: fixed;
}

.overlay img{
    margin-top: 300px;
    margin-left: 700px;
    position:absolute;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    color: white !important;
}
table a, .table a{
    text-decoration: none !important;
    display: block;
    margin: 5px;
    min-width: 60px;

}
table a:hover, .table a:hover{
    color: #999;
}
table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td{
    padding: 5px;
}


#navbar-main .navbar-nav>li>a:hover,
#navbar-main .navbar-nav>li>a:focus
{
    background-color: #28415b;
    color: #ffffff;
}
.col-lg-4
{
    text-align: center;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
margin-left: 5px;
}
.navbar-nav>li{

}
.navbar-default .navbar-nav>li>a{
    font-size: 13px !important;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#search_form{
    height: 80px;
    margin-bottom: 10px;
}
#search_form input[type="search"]{
    border: 7px solid #333;
    padding: 23px;
}
h1,h2,h3{
    text-shadow: 1px 1px #000, 1px 1px #000;
    margin: 30px;
}
#sendsearch{
    position: relative;
    top: 14px;
    right: 82px;
}
.tab-content>.tab-pane{
    padding: 15px;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td{
    padding: 12px;
    font-size: 16px;
    min-width: 100px;
    text-shadow: 1px 1px #000, 1px 1px #000;
}
video, iframe {
    width: 100%    !important;
    height: 300px   !important;
    border: 10px solid #111;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#img_logo{
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}
#link_logo{
    position: relative;
    bottom: 10px;
    height: 70px;
}
#main_link_logo{
    position: relative;
    top: 0px;
    height: 70px;
    margin-right: 10px;
}
#main_img_logo{
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
}
.navbar-nav>li{
    height: 30px;
}
.navbar-nav>li a{
    height: 60px;
}
.navbar-default{
    box-shadow: 8px 8px 12px #111;
}
.btn{
    margin: 10px;
}
.navbar-nav>li>.dropdown-menu a, .navbar-nav>li.dropdown{
    height: auto;
}



@media (min-width: 300px) and (max-width: 768px) {
    h1,h2,h3{
        font-size: 23px;
    }
    table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td{
        font-size: 12px;
    }
    .navbar-default .navbar-nav>li>a{
        font-size: 12px !important;
    }
    .alert a, .alert .alert-link{
        font-size: 13px;
    }
    .btn{
        padding: 8px 12px;
        font-size: 13px;
        line-height: 1;
        margin: 10px;
    }
    .well p{
        font-size: 12px;
    }
    .nav-tabs>li>a, .nav-pills>li>a{
        font-size: 13px;
    }

    .navbar-nav>li{
        height: 40px;
    }
    .navbar-nav>li a{
        height: 40px;
    }
    #sendsearch {
        position: relative;
        top: -72px;
        left: 305px;
    }
    #link_logo{
        right: 14px;
        height: 55px;
    }

}
