{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block content %}
    <h1> <i class="glyphicon glyphicon-pencil"></i> Editer l'acteur {{ entity.firstname|title}} {{ entity.lastname|title}} </h1>
    {{ form(edit_form) }}
{% endblock %}
