{% extends 'CinheticPublicBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1> <i class="glyphicon glyphicon-plus"></i> Création d'acteur</h1>
    <hr />

    {{ form(form) }}


    <a href="{{ path('actors') }}" class="btn btn-primary">
        Revenir à la liste des acteurs
    </a>

{% endblock %}
