{% extends 'CinheticPublicBundle::layout.html.twig' %}


{% block titlepage %}&nbsp;&nbsp;  <i class="fa fa-shopping-cart"></i> Récapitulatif de votre commande{% endblock %}


{% block content %}

        <div class="panel invoice">
            <div class="invoice-header">
                <div class="panel colourable">
                    <div class="panel-heading">
                        <span class="panel-title"><i class="panel-title-icon fa fa-shop"></i>Votre panier</span>
                        <a href="" class="pull-right btn btn-primary btn-lg btn-labeled">
                            <span class="btn-label icon fa fa-print"></span>  Imprimer ma commande
                            </a>
                            <div class="clear clearfix"></div>
                    </div>
                    <div class="panel-body">
                        
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Titre</th>
                      <th>Description</th>
                      <th>Quantité</th>
                      <th>Prix</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in 1..5 %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td><a>fghdfi dgfidf</a></td>
                        <td><i>dfgdfgdfgdfg</i></td>
                        <td>
                          <a class="btn btn-xs btn-primary">
                            <i class="fa fa-minus"></i>
                          </a>
                            2
                            <a class="btn btn-xs btn-primary">
                              <i class="fa fa-plus"></i>
                            </a>
                          </td>
                        <td><span class="label label-primary">50 €</span></td>
                        <td><a class="btn btn-default"><i class="fa  fa-trash-o"></i></a></td>
                      </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row well">
                            <a href="/app.php/movies/new" class="pull-right btn btn-danger btn-lg btn-labeled">
                            <span class="btn-label icon fa fa-shopping-cart"></span>  Régler votre commande
                            </a>
                        </div>
                    </div>
                </div>

            </div> <!-- / .invoice-table -->

    </div> <!-- / #content-wrapper -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css" media="screen">
        
         @media only screen and (max-width: 800px) {
            table.table td:nth-child(1),table.table td:nth-child(3),table.table td:nth-child(5),table.table td:nth-child(7),table.table td:nth-child(4),table.table td:nth-child(0),table td:nth-child(6),
            table.table th:nth-child(6),table.table th:nth-child(1),table.table th:nth-child(3),table.table th:nth-child(7),table.table th:nth-child(5),table.table th:nth-child(4),table.table th:nth-child(0)
             {display: none;}
         }
         
        @media only screen and (max-width: 640px) {
            table.table td:nth-child(1),table.table td:nth-child(3),table.table td:nth-child(5),table.table td:nth-child(7),table.table td:nth-child(4),table.table td:nth-child(0),table td:nth-child(6),
            table.table th:nth-child(6),table.table th:nth-child(1),table.table th:nth-child(3),table.table th:nth-child(7),table.table th:nth-child(5),table.table th:nth-child(4),table.table th:nth-child(0)
             {display: none;}
        } 

    </style>
{% endblock %} 

{% block javascripts %}
    {{ parent() }}
    <script>
        init.push(function () {
            $('.enabled').switcher();
            $('.switcher-primary :checkbox').click(function () {
                $obj = $(this);
                    $.ajax({
                        url: $(this).attr('data-url'),
                        type: "get",
                        dataType: "json",
                        data: {'id' : $(this).attr('data-id')},
                        success: function (data) {
                           $obj.parents('tr').fadeOut('slow');
                        }
                    }); 

            });
        });
    </script>
{% endblock %}