{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block content %}
    <h1> <i class="glyphicon glyphicon-map-marker"></i> Tous les films de {{ city|title }}</h1>

    {% include 'CinheticPublicBundle:Movies:_list.html.twig' %}

{% endblock %}
