{% block starsmovies %}
    <h1 class="text-right"><i class="glyphicon glyphicon-heart"></i> Films les plus attendus</h1>
     {% for entity in entities %}
        <div class="row featurette">
            <div class="col-md-7">
                <h2 style="margin-left:0" class="featurette-heading"><a href="{{ path('movies_show', {'id' : entity.id}) }}">{{ entity.title }}</a></h2>
                <p class="lead">{{ entity.synopsis|raw|truncate(250,true, "...") }}</p>
            </div>
            <div class="col-md-5">
                {{ entity.trailer|raw }}
            </div>
        </div>
        {% if loop.last == false %}
            <hr class="featurette-divider">
        {% endif %}
    {% else %}
        <div class="alert alert-warning">
            <i class="glyphicon glyphicon-exclamation-sign"></i> Il n'y a pas de film à l'affiche
        </div>
    {% endfor %}
{% endblock %}