{% extends 'CinheticPublicBundle::layout.html.twig' %}

{% block titlepage %}<i class="fa fa-pencil"></i>&nbsp;&nbsp;Editer le cinéma{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-sm-6">
            {{ form_row(edit_form.title) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(edit_form.ville) }}
        </div>
	</div>
    {{ form(edit_form) }}
    {{ form(delete_form) }}
{% endblock %}
