{% extends 'CinheticPublicBundle::layout_apprentissage.html.twig' %}


{% block content %}

    <div class="jumbotron">
        <div class="container">

            <h1 class="text-center"><i class="glyphicon glyphicon-book"></i> Cinhetic, Projet d'Apprentissageen Symfony 2</h1>
            <br />
            <img src="http://symfony.com/logos/symfony_black_01.png?v=4" />
            <br /><br />
            <p><a class="btn btn-primary btn-lg col-md-offset-5" role="button" href="{{ path('Cinhetic_public_homepage') }}">C'est partis! »</a></p>
        </div>
    </div>


{% endblock %}