{% trans_default_domain 'FOSUserBundle' %}
<div class="well">
    <h1><i class="glyphicon glyphicon-edit"></i>Editer mon compte</h1>
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>
</div>
